extends ../layout

block content
  body
    form#waptracker-form.form-horizontal.col-md-offset-2.col-md-10(action="/waptrackers/create", method="POST")
      fieldset
        legend Create a new Waptracker

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/waptrackers") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Create
