extends ../layout

block content
  body
    form#harddrive-form.form-horizontal.col-md-offset-2.col-md-10(action="/harddrives/" + harddrive._id + "/edit", method="POST")
      fieldset
        legend Edit Harddrive

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/harddrives") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Save
