extends ../layout

block content
  body
    form#driveinventory-form.form-horizontal.col-md-offset-2.col-md-10(action="/driveinventories/" + driveinventory._id + "/edit", method="POST")
      fieldset
        legend Edit Driveinventory

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/driveinventories") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Save
