extends ../layout

block content
  body
    form#ip_0_241-form.form-horizontal.col-md-offset-2.col-md-10(action="/ip_0_241s/create", method="POST")
      fieldset
        legend Create a new Ip_0_241

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/ip_0_241s") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Create
