extends ../layout

block content
  body
    form#Replacment_equipment-form.form-horizontal.col-md-offset-2.col-md-10(action="/Replacment_equipments/create", method="POST")
      fieldset
        legend Create a new Replacment_equipment

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/Replacment_equipments") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Create
