extends ../layout

block content
  h2.display-data Replacment_equipment Detail
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Serial
          td= display(Replacment_equipment.serial)
        tr
          td Partnbr
          td= display(Replacment_equipment.partnbr)
        tr
          td Description
          td= display(Replacment_equipment.description)


  .form-actions
    a.btn.btn-warning(href="/Replacment_equipments") Back
    | &nbsp;
    a.btn.btn-primary(href="/Replacment_equipments/" + Replacment_equipment._id + "/edit") Edit
    | &nbsp;
    a.btn.btn-danger(href="/Replacment_equipments/" + Replacment_equipment._id + "/delete") Delete