extends ../layout

block content
  h2.display-data Delete Mfntape?
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Label
          td= display(mfntape.label)
        tr
          td Action_date
          td= display(mfntape.action_date)
        tr
          td Action
          td= display(mfntape.action)
        tr
          td Location
          td= display(mfntape.location)


  form#mfntape-form.form-horizontal(action="/mfntapes/" + mfntape._id + "/delete", method="POST")
    .form-actions
      a.btn.btn-warning(href="/mfntapes") Back
      | &nbsp;
      input.btn.btn-danger(type="submit", value="Delete")
