extends ../layout

block content
  body
    form#Promisoffsitestorage-form.form-horizontal.col-md-offset-2.col-md-10(action="/Promisoffsitestorages/create", method="POST")
      fieldset
        legend Create a new Promisoffsitestorage

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/Promisoffsitestorages") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Create
