extends ../layout

block content
	script(type='text/javascript')
		$(document).ready(function() {
			$("table.table.tablesorter.table-bordered").tablesorter({
				sortList: [[0,0]],
				theme: 'blue',
				widgets: ["zebra"],
				build_headers : {
					rows    : 1,  // Number of header rows from the csv
					classes : [], // Header classes to apply to cells
					text    : [], // Header cell text
					widths  : [ '15%', '30%', '15%', '40%' ] // set header cell widths
				},
				}
			);
		});
	h2.display-data #{page_title}
		a.btn.btn-primary.pull-right(href="/Promisoffsitestorages/create") Create a new Promisoffsitestorage

	table.table.tablesorter.table-bordered.table-striped(style="width:100%")
		thead
			tr
				th Label
				th Description
		tbody
			each Promisoffsitestorage in Promisoffsitestorages
				tr
					td
						a(href="/Promisoffsitestorages/" + Promisoffsitestorage._id + "/detail", title="Detail")= display(Promisoffsitestorage.label)

						td= display(Promisoffsitestorage.description)

