extends ../layout

block content
  body
    form#scanner-form.form-horizontal.col-md-offset-2.col-md-10(action="/scanners/create", method="POST")
      fieldset
        legend Create a new Scanner

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/scanners") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Create
