extends ../layout

block content
  body
    form#scanner-form.form-horizontal.col-md-offset-2.col-md-10(action="/scanners/" + scanner._id + "/edit", method="POST")
      fieldset
        legend Edit Scanner

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/scanners") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Save
