extends ../layout

block content
  body
    form#Promistapesinventory-form.form-horizontal.col-md-offset-2.col-md-10(action="/Promistapesinventories/create", method="POST")
      fieldset
        legend Create a new Promistapesinventory

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/Promistapesinventories") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Create
