extends ../layout

block content
  body
    form#cur_ipmaster-form.form-horizontal.col-md-offset-2.col-md-10(action="/cur_ipmasters/create", method="POST")
      fieldset
        legend Create a new Cur_ipmaster

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/cur_ipmasters") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Create
