extends ../layout

block content
  body
    form#cur_ipmaster-form.form-horizontal.col-md-offset-2.col-md-10(action="/cur_ipmasters/" + cur_ipmaster._id + "/edit", method="POST")
      fieldset
        legend Edit Cur_ipmaster

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/cur_ipmasters") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Save
