extends ../layout

block content
  body
    form#ipmaster-form.form-horizontal.col-md-offset-2.col-md-10(action="/ipmasters/" + ipmaster._id + "/edit", method="POST")
      fieldset
        legend Edit Ipmaster

        != form

      .form-group.col-md-offset-2.col-md-10
          a.btn.btn-warning(href="/ipmasters") Back
          | &nbsp;
          button.btn.btn-primary(type="submit") Save
